.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins

# keystores
**/*.jks
**/*.p12
**/*.pem
Butterfly Reader-*.google.json

# error logs
flutter_*.log
**/*/fastlane/report.xml
