.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
.dart_tool

# keystores
**/*.jks
**/*.p12
**/*.pem
Butterfly Reader-*.google.json
secrets.tar
.env

# error logs
flutter_*.log
**/*/fastlane/report.xml
