name: hn_flutter
description: A new Flutter project.
version: 0.0.2
author: Louis Orleans <louis@orleans.io>
homepage: https://github.com/dudeofawesome/hn_flutter

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.0
  # flutter_flux: ^4.0.1
  flutter_flux:
    git: git@github.com:flutter/flutter_flux.git
  flutter_markdown: ^0.1.0
  flutter_web_browser:
    git: git@github.com:victorbonnet/flutter_web_browser.git
  html: ^0.13.2+2
  html_unescape: ^0.1.5
  intl: ^0.15.2
  path: ^1.5.1
  path_provider: ^0.3.0
  share: ^0.3.0
  sqflite: ^0.4.0
  timeago: ^1.2.0
  tuple: ^1.0.1
  url_launcher: ^1.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
